.App{
    margin: 50px 400px 50px 400px;
    background-color: rgb(238, 238, 227);
    max-width: 600px;
    border-radius: 2px;
    border-color: rgb(217, 192, 162);

}
footer{
    padding: 10px 10px 10px 0px;
    color: rgb(160, 129, 92);
}
a{
    color: rgb(160, 129, 92);
}