.container {
  max-width: 500px;
  padding: 20px 20px 20px 0px;
}
.container section{
  padding: 20px 20px 20px 0px;
}
.container .word {
  font-weight: bold;
  font-size: 30px;
  font-style: italic;
}
.container section .parfOfSpeech {
  font-size: 18px;
  font-style: italic;

}
.container section .definition_1 {
  padding: 10px 10px 10px 0px;
  font-size: 20px;
}
